.pusher {
  width: 100%;
  height: 4.26rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  grid-row: 4/5;

  &__input {
    flex: 1;
    height: 4.26rem;
    background: #1e212e;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    padding: 0 1rem;
    font-size: 1rem;
  }

  &__btn {
    height: 4.26rem;
    width: 8.88rem;
    background: #813efb;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #6b34d1;
    }
  }
}
